<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
        >
    <testsuites>
        <testsuite name="WScore/Pages Test Suite">
            <directory>./tests/pages/</directory>
        </testsuite>
    </testsuites>
</phpunit>